<div class = 'container'>
  <% @enrolments = locals[:enrolments] if @enrolments.nil? %>
  <% @user = User.find(@enrolments.first.user_id) %>
  <table class = 'table table-striped'>
    <thead>
      <th> Subject</th>
      <th> Grade </th>
      <th> Ability Level </th>
      <th> Fees</th>
    </thead>
    <% @enrolments.each do |enrolment| %>
      <tr>
        <td> <%= Subject.find(enrolment.subject_id).subject_name %> </td>
        <td> <%= enrolment.grade %> </td>    
        <td> <%= enrolment.ability_level %> </td>    
        <td> <%= number_to_currency enrolment.fees %> </td>
      </tr>
    <%end%>
  </table>
</div>