<div class='container level-header'>
  <h2 class='page-header'>Forgot your password</h2>
  <%= bootstrap_form_for resource, as: resource_name, url: password_path(resource_name) do |f| %>
    <%= devise_error_messages! %>     
    <%= f.email_field :email, autofocus: true, label: 'Email' %>
      <%= button_tag(type: 'submit', class: "btn btn-success hvr-sweep-to-right", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Sending..."}) do %>
        <i class="fa fa-save"></i> Send Instructions
      <% end %>
  <% end %>
</div>
