<% if model.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <p><strong><%= model.class.model_name.human %> is not saved because:</strong></p>
 
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><p><%= msg %></p></li>
      <% end %>
    </ul>
  </div>
<% end %>