 <nav class = "navbar navbar-default navbar-fixed-top uppernav" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsable">
          <ul class="nav navbar-nav foo" id="menu">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About </a></li>
            <li><a href="#current_projects">Current Projects </a></li>
            <li><a href="#my_interests">Interests </a></li>
            <li><a href="#education">Education </a></li>
            <li>
              <a href="/contact">
                <span class='glyphicon glyphicon-hand-right'></span>
                Contact Tania!
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
