<div class = 'about'>
  <h2> About Us </h2>
  <p> We are David and Omana Kurian. We started our tuition centre in San Jose, and we are going one step ahead providing online tutoring services </p>
</div>