<div class = 'container'>
  <div class = 'jumbotron'>
  <h2 class = 'about-title'> About Us </h2>
  <ul>
    <li> We provide a family-based*, no-frills, after-school, extension-homework program. Initial entry is limited to grades 1 through 7 in Math and English since the required adaptation of work-habits is more feasible at an earlier age. </li>
    <li> Once enrolled, we would carry the students through higher levels in future years. </li>
    <li> We start with a placement package to identify student’s current skills. </li>
    <li> A unit of work is set for every day, seven days a week, for each subject. </li>
    <li> Thoughtful start, cautious acceleration and eventually challenging work with little prompting along with normal work.  </li>
    <li> Comprehensive, concise teaching, ample examples at every small step, copious iterations, wealth of practice exercises, internal revisions. </li>
    <li> We realize children have to have excellent core skills to cope with work-in-depth and a wider variety of topics. Hence we focus on core skills first, as then work-in-depth and variety of topics. </li>
    <li> Student-work will arrive by mail. On every Monday, send the previous week’s work back in the prepaid, preaddressed envelope we would provide. </li>
    <li> Upon receipt of the student-work, we would closely peruse and assess it, and a short report (but not the student-work itself) would be sent to the parents. </li>
    <li> In light of what we see, we would carefully select new work for the student. </li>
    <li> A largely symbolic level of parental involvement with encouragement and positive reinforcement would be productive. No subject-knowledge is expected. </li>
    <li> <b>Work-modes </b>: Apart from the common methods of learning, work we provide will also contain older methods of learning such as repetition, memorization, rote learning, mirror telling etc. </li>
    <li> <b>Objectives</b>: In the long run, enable students to secure top scores in school, in competitive exams, acquire places in top universities and secure top jobs and opportunities which are now spreading out to all over the world. </li>
    <li> <b>Compete</b> on equal terms with the best in the world, for jobs and opportunities in the US and overseas, in the evolving global market for the highly skilled. </li>
    <li> Student-work flexibly selected from massive matrices of continuously updated teaching materials </li>
    <li> <b> Directors </b> : Passionate directors with several decades of intimate exposure to teaching and learning all over the world focusing on the latest developments in global education. They are attuned to the latest developments in global educational innovations. They possess a rich mosaic of qualifications and life/business/ professional experiences. They have developed a vast collection of teaching materials customized for normal and extension learning as flexible matrices of units. They ran a successful non-franchise learning center in California where they also conducted a similar but small-scale mail-based teaching operation for eleven years. Over the decades they have developed a massive amount of teaching materials, kept up-to-date in the form of flexible matrices of units. </li>
    <li><b> Flexibility </b>: Flexibility is essential in an extension learning program to cater to the needs of students with varying abilities. Flexibility of our program derives from two key factors. 1) The modular, unit-based structure of our resources, 2) Our centralized, non-franchised structure. Franchising imposes rigidity since franchisees are well-known to be change-averse. </li>
    <li><b> Caveats </b>: It will take time to achieve our objective of reaching international standards. Commitment, patience and consistent, unfailing hard work is essential.  This extension service is a supplement to school work. It is not designed for home schooling. </li>
  </ul>
</div>
</div>