<div class = 'container'>
  <div class = 'jumbotron'>
    <h2> Communications </h2>
    <p> <b> No Help During Placement: </b> With the placement pack or tests, it is natural to experience difficulty. Just leave things that are too hard. It is important for us to know what is too hard for you. That would enable us to locate the correct starting point for your work. Parents, please do not help with placement pack or tests. Let your child show us what he/she can do without help. There is no shame in not knowing something, or not knowing a lot. We can teach it to you. </p>
    <p> <b> Normal Work </b>: With normal work, it is very unlikely you will have difficulty. We do not go to a new step unless the previous step is mastered. In work other than placement pack or tests, if you experience difficulty, do one of the following. </p>
    <ul>
      <li> Put a large star (asterisk) in the margin, and shortly write what the difficulty is, then leave that question. But do not stop; keep going and do all you can do. Put stars in the margin beside everything that you can’t do. We will see it and adjust the work for you and/or take the necessary steps to help. </li>
      <li> You may also send an email, showing your details (name, ID), and exactly where (which subject, date the work is supposed to be done on, page, which question), and very shortly write what the difficulty is. We will respond as quickly as we can. </li>
      <li> If these do not work, which is extremely unlikely, and you are really trying, do not despair. We can think of other ways to help. </li>
    </ul>
    <p> <b>Effectiveness of Email: </b> If real help or a clarification is needed, our experience in running a mail-based program for a long time shows, an email exchange would be the most precise and most effective. Email gives the teacher time to get his/her bearings, think and present the help concisely and effectively. But need for help would be a very rare occurrence. </p>
    <p> <b> Opinions </b>: Parents, please transmit your thoughts to us by a short email; your thoughts are valuable; we would respectfully read and take them into account if possible, but we may not respond by replying to your email. </p>
    <p> <b> Communication: </b> From our long experience, communication in a service such as ours must be well-structured. Unstructured communication by telephone etc. can soon create misunderstandings. Hence communication with us by parents and students, in all matters is exclusively via email. </p>
  </div>
</div>