<div class = 'container'>
  <div class = 'jumbotron'>
    <h2> Communications </h2>
  </div>
  <div class='well well-lg'>
    <p> <b> No Help During Placement </b> </p>
    <p>With the placement pack or tests, it is natural to experience difficulty. Just leave things that are too hard. It is important for us to know what is too hard for the student. That would enable us to locate the correct starting point for work. Students should do placement pack or tests without help. </p>
    <p> <b> Normal Work </b></p>
    <p>With normal work, it is very unlikely students will have substantial difficulty. We do not take the student to a new step unless the previous step is mastered. In work other than placement pack or tests, if the student experiences difficulty, do one of the following: </p>
    <ul>
      <li> Most importantly, go back and read the introduction, explanations and the examples. Make this a habit in case of any difficulty. Do not take the following steps as a way to get out of doing the work. If referring back does not work despite your best efforts then refer to the other steps </li>
      <li>Put a large star (asterisk) in the margin, and shortly write what the difficulty is, then leave that question. But do not stop; keep going and do all you can do. Put stars in the margin beside everything that you can’t do. We will see it and will take the appropriate steps</li>
      <li> You may send an email, showing your details via the website, and the details and briefly write what the difficulty is. We will respond as quickly as we can. </li>
      <li> If these do not work, which is extremely unlikely, and you are really trying, do not despair. Let us know, we can think of other ways to help. </li>
    </ul>
    <p> <b>Effectiveness of Email </b> </p>
    <p>If real help or a clarification is needed, our experience in running a mail-based program for a long time shows, an email exchange would be the most precise and most effective. Email gives the teacher time to get his/her bearings, think and present the help concisely and effectively. But need for help would be a very rare occurrence. </p>
    <p> <b> Opinions </b></p> <p> Parents, please transmit your thoughts to us via the website; your thoughts are valuable; we would respectfully read and take them into account if possible, but we may not respond. </p>
    <p> <b> Communication: </b></p><p> From our long experience, communication in a service such as ours must be well-structured. Unstructured communication by telephone etc. can soon create misunderstandings. Hence communication with us by parents and students, in all matters is exclusively via email through the website. </p>
  </div>
</div>