<div class = 'container'>
  <div class="contact">
    <h2> Contact Us </h2>
    <p> Do you like the sound of what you are hearing? If you have any questions feel free to email us at contact@iwavez.co.nz</p>
  </div>
</div>