<div class = 'container'>
  <div class = 'jumbotron'>
    <h2 class = 'expected-title'> Expected Roles</h2>
  </div>
  <div class='well well-lg'>
    <p><b>  Ideal attitudes and behaviors that contribute to maximal benefit from our program would be: </b></p>
    <ol>
      <li> Readiness to work regularly and at things that may apparently be repetitive. </li>
      <li> Developing a habit of spending substantially more time for academic study. </li>
      <li>A willingness to accept slowly increasing challenges, complexity,  difficulty and bulk without prompts, non essential illustrations. Ability to cope with unclear situations. </li>
      <li> Eventually a preparedness to accept unfamiliar, unprompted, unstructured tasks. </li>
      <li> Take parents into confidence; show them what and how you are doing. </li>    
      <li> Acceptance and being in compromise with having to study more than your friends. </li>
      <li> Reduce activities that rob your time (social networks, phones, TV, music, electronic game consoles etc) to a level so you won’t regret in the future. </li>
      <li> Reducing external activities to a level that gives you enrichment and relaxation in life. Remember, few external activities give you a livelihood or success in life. </li>
      <li> Ideal student-work-routine would be one unit of work completed every day for each subject the student is enrolled in. </li>
    </ol>
    <p><b> Parental Involvement:</b> </p>
    <ol> 
      <li> Initially help organize your child’s work, establish the routine. For the young ones, give a helping hand to get them familiar with the work. </li>
      <li>  Help put finished work in the envelope we supply, with final checking over the weekend. </li>
      <li> At least one parent working non-disruptively on the same table as the student would be a wonderful contribution to your child’s education. Research consistently supports the benefits of such parental involvement. </li>
      <li> Every Monday morning, ensure that the week’s work in the return-envelope (that we supply) is deposited it in the mailbox for the mailperson to collect. </li>
      <li> Parents should encourage children to actively take part in the REWARDS scheme. </li>
    </ol>
    <p> <b> Routine, Vacations, Breaks: </b> </p>

    <p> It is very important to do the work in the given order. Every Monday, work from the previous week should be mailed to us. </p>

    <p> Students should follow, to the best of their ability, the same daily work-routine during breaks, vacations and times away, as without a regular regimen, students can quickly get out-of-touch and slip out of the continuum. We do not send work to temporary addresses or overseas addresses; you should make arrangements with the post-office for appropriate mail forwarding during any times-away. In any case return of finished work should be posted back every Monday if you are in the US.  </p>
  </div>
</div>