<div class = 'container'>
  <h2> Fees and Offers </h2>

  <ul class = 'fees-blurb'>
    <li> Tuition is per calendar month paid in advance. Feeds paid for a period is non-transferrable to another period </li>
    <li> All other fees and charges are waived for this offer </li>
    <li> If activation date occurs on the 18th on a month or after, prorated tuitiion for that month plus the tuition for the next month will be charged at enrolment. Note, there will be no double payment </li>
    <li> If activation date happens on the 17th of the month or before, prorated tuition for that month alone will need to be paid after the end of the free trial. </li>
    <li> All fees are period specific, and cannot be applied to another period. For example, fees paid for July 2016 would be effective on the 1st of that month and would expire on the 30th/31st of the month </li>
    <li> You will be presented a detailed account of the payment required at the time of the enrolment </li>
  </ul>
  
  <div class = 'all-fees'>
    <%= render partial: "fees/index", locals: {fees: Fee.all} %>
  </div>
  
  <div class = 'all-offers'>
    <%= render partial: "offers/index", locals: {offers: Offer.all} %>
  </div>

</div>