<div class = "home">
  <div class = 'jumbotron'>
    <h2 align='center'> iwavez </h2>
    <h5 align='center'> Academically raising our children to International Standards </h5>
  </div>
  <div class = 'row'>
    <%= render 'shared/my_carousel' %>
  </div>
  <div class = 'row'>
    <div class = 'col-sm-3'>
      <h4 align='center'> Work </h4>
      <ul>
        <li> Delivered to your home </li>
        <li> Designed for busy parents;no hassles </li>
        <li> Designed for busy children;learn at home </li>
        <li> Not another school after a long day at school </li>
        <li> Not a learning center after a long day </li>
        <li> Avoid exhaustion;stay home, sweet home </li>
      </ul>
    </div>
    <div class = 'col-sm-3'>
      <h4 align='center'> Features </h4>
      <ul>
        <li> Mainstream and Advanced Learning together </li>
        <li> Flexible plan for each student </li>
        <li> Tailor-made program for your children's needs </li>
        <li> Foster your child's potential </li>
        <li> Help as required </li>

        <li> Prepaid return of student-work</li>
        <li> Weekly Assessment and Report </li>
        <li> Incentives: Reward and Referral Program</li>
        <li> Parent portal: View performance, manage enrolments and lots more </li>
        <li> Student portal: View performance and rewards </li>
      </ul>
    </div>
    <div class = 'col-sm-3'>
      <h4 align='center'> Current Limited Time Offer </h4>
      <ul>
        <li> Rock bottom discounted tuition </li>
        <li> Not likely to be offered again </li>
        <li> All extra costs waived </li>
        <li> Enrol now, pay monthly in advance </li>
        <li> Once enrolled, price guaranteed for 18 months </li>
        <li> One month free trial, if not satisfied full refund </li>
      </ul>
    </div>
    <div class = 'col-sm-3'>
      <h4 align='center'> Our Goals for Students </h4>
      <ul>
        <li> Rise to the top level at school </li>
        <li> Top scores in competitive exams </li>
        <li> Placement in top colleges </li>
        <li> Gradually build up to international parity </li>
        <li> Enable choice of employment </li>
        <li> Quality for the desired profession </li>
        <li> International competitiveness in all respects </li>
      </ul>
    </div>
  </div>
</div>