  <div class = 'container'>
    <div class = 'jumbotron'>
    <h2 class = 'mission-title'> Our Mission </h2>
    <h4> <i> A nourishing environment for fertile minds </i> </h4>
    <ul>
      <li> For many years our students have languished at poor rank-levels in international surveys. Our program aims to close this gap, and raise the competence of students enrolled with us to global standards. </li>
      <li> We provide tutoring in all three dimensions of learning - <b>elevation</b> (proficiency in core topics), <b>spread</b> (variety and a full complement of topics and skills), <b>depth</b> (ability to cope with complexity) by interweaving normal work with enhancing extension work. </li>
      <li> Massive amounts of work units of all three types are ready. </li>
      <li> An affordable program customized for the individual needs of your child. </li>
      <li> A program designed to avoid additional stresses in your hectic life. </li>
      <li> Work delivered to your home, sweet home. </li>
      <li> No mobilizing, driving, traffic, parking, waiting, no forcing the children wilted after a long day to school  etc. </li>
      <li> Using the most versatile medium – paper, easy to manage and keep tabs on. </li>
      <li> Avoids the poor effectiveness of the web as a learning medium and its high distractions. </li>
      <li> No-frills work sheets without distracting pictures, graphics, colors; only matter-of-fact, essential diagrams and word-cues as required in practical situations and high level tests and exams. </li>
      <li> Tailor-made for family-based learning – a format of study celebrated by scholars as the source of great benefits to students. </li>
      <li> Flexibility: Work adapted regularly based on student performance. </li>
      <li> The work we send is not an inflexible supply of sequential pages. </li>
      <li>  Broad-based, but adjustable program similar to curricula followed by internationally best performing nations. Ours is not just a core-skills-drill program. </li>
      <li> Challenge capable students, lift average students, nurture weak ones. </li>
      <li> Work sent by mail, student work is returned weekly by pre-paid envelopes supplied. </li>
      <li> Report to parents every week. </li>
      <li> Passionate directors with several decades of exposure to teaching and learning all over the world focusing on the latest developments in global education. </li>
      <li> To top it all off, a wonderful reward program that encourages endeavor and being engaged – a mock of the real world. </li>
      <li> Incentive: Referral program to create a network </li>
  </ul>
  </div>
</div>