<div class = 'container'>
  <h2> Why Extend? </h2>
  <h3> Compete with the World!! </h3>
  <div class = 'jumbotron'>
    <h4> OUR CHILDREN'S CURRENT EDUCATIONAL STANDARDS AND A SOLUTION </h4>
    <!-- insert graphic here -->
    <ul>
      <li> The graphic above shows the three dimensions of academic leaerning - elevation, spread and depth </li>
      <li> Comparative measurements show our students lagging far behind international best performers </li>
      <li> iwavez aims to raise the performance of our enrolled students to a level of international excellence through convenient, no hassles postal tutoring </li>
    </ul>
  </div>
</div>