<div class = 'container'>
  <h2> Compete with the World!! </h2>
  <div class = 'jumbotron'>
    <h4> Our Children's Current Educational Standards and a solution </h4>
    <ul>
      <li> The graphic above shows the three dimensions of academic leaerning - elevation, spread and depth </li>
      <li> Comparative measurements show our students lagging far behind international best performers </li>
      <li> Our Company aims to raise the performance of our enrolled students to a level of international excellence through convenient, no hassles postal tutoring </li>
    </ul>
  </div>
</div>