<div class = 'container level-header'>
  <h2> 401 - Authentication Error </h2>
  <p> Looks like you are not allowed to go to this page </p>
  <%= link_to 'Home', root_path, class: 'btn btn-add' %>
</div>
