<p>Dear <%= @resource.email %>, </p>

<p>Please use the following link to reset your password. You will be asked to provide a new password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p> Cheers D and O </p>