$white: #FFFFFF;
$teal: #4CA6A6;
$dark-gray: #777777;
$darkish-gray: #bfbfbf;
$gray: #ccc;
$lightish-gray: #E1E1E1;
$light-gray: #E6E6E6;
$silver: #989898;
$dark-blue: #185397;
$white: #fbfbfb;
$blue: #008fd1; //origional
$nav-hover: #CEE5EF;
$green: #189f92;
$light-green: #A5FFA5;
$red: #de6a5e;
$pink: #ff6f6f;
$black: #333333;
$complimentary-blue: #2098D1;
$pinkred: #C34C78;
$yellow: #FFFF00;
