$white: #FFFFFF;
$teal: #52ada4;
$orange: #e69756;
$dark-gray: #777777;
$darkish-gray: #bfbfbf;
$gray: #ccc;
$lightish-gray: #E1E1E1;
$light-gray: #E6E6E6;
$blue: #008fd1; //origional
$nav-hover: #CEE5EF;
$pinkred: #C34C78;
$yellow: #FFFF00;
$pinkpurple: #42589e;
